.articles_title {
    @include heroFont;
    display: block;
    position: fixed;
    top: 50%;
    left: 2rem;
    font-size: 3.6rem;
    color: $gray-0;
    z-index: 1;
}

.articles_titleClickArea{
    width: 6rem;
    height: 100%;
    position: absolute;
}

.articles_content {
    @include articleContentFont;
    display: block;
    width: 75%;
    height: 100%;
    padding-top: 16rem;
    padding-right: 10%;
    margin-left: 12rem;
    position: absolute;
    top: 0;
    overflow-y: scroll;
    z-index: 7;
    @include hideScrollBar;
}