.articles_title {
    @include heroFont;
    display: block;
    position: fixed;
    top: 50%;
    left: 2rem;
    font-size: 3.6rem;
    line-height: 1.6em;
    color: $black;
    z-index: 1;
    overflow: hidden;
    & > span {
        display: inline-block;
        position: relative;
        user-select: none;
        color: $black;
        @include titleAnimation;
        @include media('below-mobile') {
            max-width: 85%;
        }
    }
    @include media('below-mobile') {
        font-size: 1.6rem;
        left: 1rem;
    }
}
.articles_title--mobile {
    display: none;
    & > span {
        display: inline-block;
        position: relative;
        user-select: none;
        color: $black;
        opacity: 0;
        @include titleAnimation--mobile;
    }
    @include media('below-small') {
        display: block;
        position: absolute;
        top: 8.7%;
        right: 4rem;
    }
    @include media('below-mobile') {
        font-size: 0.8rem;
        top: 7%;
        right: 1.5rem;
    }
}

.articles_titleClickArea{
    width: 10rem;
    height: 100%;
    position: absolute;
    z-index: 11;
}

.articles_content {
    @include articleContentFont;
    display: block;
    width: 75%;
    height: 100%;
    padding-right: 10%;
    margin-left: 12rem;
    position: absolute;
    top: 0;
    overflow-y: hidden;
    z-index: 1;
    transform: translate(0, 100%);

    @include contentAnimation;
    @include media('below-desktop') {
        font-size: 1.6rem;
    }
    @include media('below-small') {
        width: 100%;
        height: 80vh;
        padding-top: 0;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-left: 0;
        top: auto;
        bottom: 0;
    }
    @include media('below-mobile') {
        font-size: 1.2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.articles_content--scroll {
    display: block;
    height: 100%;
    padding-top: 12rem;
    position: relative;
    overflow: scroll;

    @include hideScrollBar;
    @include media('below-small') {
        padding-top: 0;
    }
}