.nav {
    display: block;
    width: 384px;
    height: 100%;
    padding: 0 2rem 0 2rem;

    position: fixed;
    top: 0;
    left: 0; 
    z-index: -10;
    background: $gray-0;

    .nav_item {
        display: flex;
        flex-direction: row;
    }
    .nav_contentNumbering {
        font-family: customSet--serif;
        font-size: 0.85rem;
        color: $gray-5;
    }
}

