.nav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: white;
  z-index: 11;
}

/**
 *
 * nav_contentWrapper
 *
 */

.nav_contentWrapper {
  width: 85%;
  height: 67%;
  position: absolute;
  left: 128px;
  bottom: 0;
  @include media("below-desktop") {
    display: none;
  }
}
.nav_title {
  height: 20%;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.nav_flexWrapper {
  width: 100%;
  height: 80%;
  display: flex;

  .nav_area {
    flex: 0 0 33.3%;
    padding-right: calc(8.3% + 32px);
    padding-bottom: 1rem;
    position: relative;
  }
}

.navArea_description {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.6em;
  color: $gray-3;
}

.navArea_itemWrapper {
  width: calc(100% + 12px);
  height: 95%;
  overflow: scroll;
  @include hideScrollBar;
}

.navArea_scrollHint {
  position: absolute;
  left: 75%;
  bottom: 11%;
  font-size: 0.8rem;
  color: $gray-2;
}

.nav_item {
  padding-bottom: 4rem;
  @include media('below-tablet') {
    padding-bottom: 2.4rem;
  }
}

.nav_contentNumbering {
  font-family: customSet--serif;
  font-size: 0.6rem;
  letter-spacing: 1px;
  line-height: 2.4rem;
  @include media("below-tablet") {
    font-size: 0.6rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
  }
}

.nav_content {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
  cursor: pointer;
  @include media("below-tablet") {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.2rem;
  }
}

.navArea_contact {
  position: absolute;
  bottom: 7%;
  font-family: customSet--serif;
  font-weight: 200;
  @media (max-width: 340px) {
    bottom: 11%;
  }
}

.contactItem {
  font-size: 0.6rem;
  color: $gray-3;
  line-height: 1.6em;
  user-select: text;
}

a.contactItem {
  padding-right: 1.2rem;
  transition: color 0.3s ease;

  &:hover {
    color: $black;
  }
}

/**
 *
 * nav_contentWrapper--mobile
 *
 */

.nav_contentWrapper--mobile {
  @include media("above-desktop") {
    display: none;
  }
}
.nav_mobileArea {
  width: 100%;
  height: calc(100vh - 10rem);
  padding: 0 4rem 0 4rem;
  position: absolute;
  @include media("below-mobile") {
    padding: 0 1.5rem 0 1.5rem;
  }
  .nav_title {
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.mobileAbout {
  display: block;
}
.mobileTableContent {
  display: none;
}

/**
 *
 * nav_header
 *
 */

.nav_header {
  display: flex;
  width: 100%;
  height: $headerHeight;
  align-items: center;
}

.navHeader_right {
  display: flex;
  height: 2.2rem;
  padding-right: 4rem;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  flex: 0 0 50%;
  @include media("below-mobile") {
    padding-right: 1.5rem;
    flex: 0 0 75%;
  }
}

.navHeader_left {
  flex: 0 0 50%;
  @include media("below-mobile") {
    flex: 0 0 25%;
  }
}

.navHeaderRight_item {
  display: inline-flex;
  flex: 0 0 1fr;
  width: 2rem;
  height: 2rem;
  margin-left: 1.6rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.nav_toTableContent,
.nav_toAbout {
  display: none;
  &--active {
    text-decoration: underline;
  }
  @include media("below-desktop") {
    display: inline-flex;
  }
}

.nav_closeIcon {
  width: 2rem;
  height: 2rem;
  position: relative;
  left: 4rem;
  cursor: pointer;
  @include media("below-mobile") {
    left: 1.5rem;
  }
}

.closeIcon_line {
  width: 2rem;
  height: 1px;
  border-bottom: 1px solid black;
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: translate(0, -100%);

  &:nth-child(odd) {
    transform: rotate(45deg);
  }
  &:nth-child(even) {
    transform: rotate(-45deg);
  }
}
