$item-spacing: 24px;

#indexSeleciton {
  overflow: scroll;
}

.indexSelection_row {
  white-space: nowrap;
  margin-bottom: $item-spacing * 2;
}

.selectionItem {
  display: inline-block;
  margin-left: $item-spacing;
  margin-right: 1rem;

  &_index {
    display: inline-block;
    padding: 0 0.6em 0.8em 0;
    font-family: customSet--serif;
    font-size: 0.6rem;
    line-height: 100%;
    letter-spacing: 1px;
    vertical-align: text-top;
  }
  &_title {
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 200;
    color: $gray-6;
    vertical-align: text-top;
  }
  &_line {
    display: inline-block;
    width: 4rem;
    height: 1.5rem;
    margin-left: $item-spacing;
    border-bottom: 2px solid $black;
    vertical-align: text-top;
  }
}
