$item-spacing: 24px;

#indexSelection {
  width: 100vw;
  overflow: hidden;
}

.indexSelection_scrollWrapper{
}

.indexSelection_row {
  width: max-content;
  white-space: nowrap;
  margin-bottom: $item-spacing;
}

.selectionItem {
  display: inline-block;
  padding-left: $item-spacing;
  padding-right: 1rem;

  &_index {
    display: inline-block;
    padding: 0 0.6em 0.8em 0;
    font-family: customSet--serif;
    font-size: 0.6rem;
    line-height: 100%;
    letter-spacing: 1px;
    vertical-align: text-top;
  }
  &_title {
    @include heroFont;
    display: inline-block;
    vertical-align: text-top;
  }
  &_line {
    display: inline-block;
    width: 4rem;
    height: 1.5rem;
    margin-left: $item-spacing;
    border-bottom: 2px solid $black;
    vertical-align: text-top;
  }
}
