/**
 *
 * Color
 *
 */
$black: #202020;
$gray-6: #484848;
$gray-5: #717171;
$gray-4: #858585;
$gray-3: #adadad;
$gray-2: #d6d6d6;
$gray-1: #eaeaea;
$gray-0: #f2f2f2;

/**
 *
 * cubic-bezier
 *
 */
$cubic_fastIn: cubic-bezier(0.14, 0.88, 0.86, 1.01);
$cubic_progressive: cubic-bezier(0.09, 1.01, 0.53, 0.94);

/**
 *
 * reusable property
 *
 */

// header and footer

$headerHeight: 10rem;
$headerHeight--mobile: 8rem;

$nav-width: 384px;
$transition: 1s ease;
