/**
 *
 * Color
 *
 */
$black: #202020;
$gray-6: #484848;
$gray-5: #717171;
$gray-4: #858585;
$gray-3: #adadad;
$gray-2: #d6d6d6;
$gray-1: #eaeaea;
$gray-0: #f2f2f2;

/**
 *
 * font
 *
 */

$base-font-size: 16px;

@mixin TC_uniCode {
  unicode-range: U+4E00-9FFF, FF00-FFEF, 3100-312F;
}

@font-face {
  font-family: "customSet--sans";
  src: local("PingFang TC"), local('Hiragino Sans GB'), local("Microsoft JhengHei");
  @include TC_uniCode;
}

@font-face {
  font-family: "customSet--serif";
  src: local("PT Serif");
  unicode-range: U+00-024F;
}

// TC thin and light
@font-face {
  font-family: "customSet--sans";
  font-weight: 200;
  src: local("PingFangTC-Light"), local("Microsoft JhengHei");
  @include TC_uniCode;
}

@font-face {
  font-family: "customSet--sans";
  font-weight: 300;
  src: local("PingFangTC-Light"), local("Microsoft JhengHei");
  @include TC_uniCode;
}

// TC regular 
@font-face {
  font-family: "customSet--sans";
  font-weight: 400;
  src: local("PingFangTC-Regular"), local("Microsoft JhengHei");
  @include TC_uniCode;
}

// TC medium 
@font-face {
  font-family: "customSet--sans";
  font-weight: 500;
  src: local("PingFangTC-Medium"), local("Microsoft JhengHei");
  @include TC_uniCode;
}

// TC semi-bold 
@font-face {
  font-family: "customSet--sans";
  font-weight: 600;
  src: local("PingFangTC-Semibold"), local("Microsoft JhengHei");
  @include TC_uniCode;
}


/**
 *
 * cubic-bezier
 *
 */
$cubic_fastIn: cubic-bezier(.14,.88,.86,1.01);
$cubic_progressive: cubic-bezier(.09,1.01,.53,.94);

/**
 *
 * reusable property
 *
 */

$nav-width: 384px;
$transition: 1s ease;