/**
 *
 * Color
 *
 */
$black: #202020;
$gray-6: #484848;
$gray-5: #717171;
$gray-4: #858585;
$gray-3: #adadad;
$gray-2: #d6d6d6;
$gray-1: #eaeaea;
$gray-0: #f2f2f2;

/**
 *
 * font
 *
 */

$base-font-size: 16px;

@font-face {
  font-family: "customSet--sans";
  src: local("PingFang TC"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: "customSet--serif";
  src: local("PT Serif");
  unicode-range: U+00-024F;
}

@font-face {
  font-family: "customSet--sans";
  font-weight: 200;
  src: local("PingFangTC-light"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}


/**
 *
 * cubic-bezier
 *
 */
$cubic_fastIn: cubic-bezier(.14,.88,.86,1.01);
$cubic_progressive: cubic-bezier(.09,1.01,.53,.94);

/**
 *
 * reusable property
 *
 */

$nav-width: 384px;
$transition: 1s ease;