<html>

<head>
    {{> partials/meta }}
</head>

<body>
    {{> partials/header}}
    {{> partials/nav titleList=global.titleList.titleList }}
    <section id='indexSelection' style='display: none'>{{> partials/selection }}</section>
    <main id="article">{{> partials/articles }}</main>
    
</body>

</html>