<main id="article">
    <div class="articles_title">
        <div class='articles_titleClickArea'></div>
        <span>{{ local.title }}</span>
    </div>
    <div class="articles_title--mobile">
        <span>{{ local.title }}</span>
    </div>
    <div class="articles_content">
        <div class="articles_content--scroll">
            {{ local.content }}
        </div>
    </div>
</main>