<nav class='nav'>
    <ul class='nav_wrapper'>
        <li>
            <div class='nav_item'>
                <span class='nav_contentNumbering'>01.</span>
            </div>
        </li>
        <li>
            <div class='nav_titleWrapper'>
                <span class='nav_contentNumbering'>02.</span>
            </div>
        </li>
        <li>
            <div class='nav_titleWrapper'>
                <span class='nav_contentNumbering'>03.</span>
            </div>
        </li>
        <li>
            <div class='nav_titleWrapper'>
                <span class='nav_contentNumbering'>04.</span>
            </div>
        </li>
    </ul>
</nav>