<nav class='nav'>
    <div class='nav_closeBtn'>close</div>
    <ul class='nav_wrapper'>
        {{#each titleList }}
        <li>
            <div class='nav_item'>
                <span class='nav_contentNumbering'>{{ this.index }}</span>
                <div class='nav_content'>
                    <a href="{{ this.url }}">
                        <span class='nav_itemTitle' data-url='test'>{{ this.title }}</span>
                        </br>
                        <span class='nav_itemPreview'>沒有人會理我，我的月收入將只能維持一兩個月的生活</span>
                    </a>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</nav>