<nav class='nav'>
    <ul class='nav_wrapper'>
        <li>
            <div class='nav_item'>
                <span class='nav_contentNumbering'>01.</span>
                <div class='nav_content'>
                    <span class='nav_itemTitle'>如果你害怕，描繪出你的恐懼</span>
                    </br>
                    <span class='nav_itemPreview'>沒有人會理我，我的月收入將只能維持一兩個月的生活</span>
                </div>
            </div>
        </li>
        <li>
            <div class='nav_item'>
                <span class='nav_contentNumbering'>02.</span>
                <div class='nav_content'>
                    <span class='nav_itemTitle'>我承認，我並不快樂</span>
                    </br>
                    <span class='nav_itemPreview'>沒有人會理我，我的月收入將只能維持一兩個月的生活</span>
                </div>
            </div>
        </li>
        <li>
            <div class='nav_item'>
                <span class='nav_contentNumbering'>03.</span>
                <div class='nav_content'>
                    <span class='nav_itemTitle'>停止追求幸福美滿的結局</span>
                    </br>
                    <span class='nav_itemPreview'>沒有人會理我，我的月收入將只能維持一兩個月的生活</span>
                </div>
            </div>
        </li>
        <li>
            <div class='nav_item'>
                <span class='nav_contentNumbering'>04.</span>
                <div class='nav_content'>
                    <span class='nav_itemTitle'>當我看著他的照片，完全感受不到他的存在</span>
                    </br>
                    <span class='nav_itemPreview'>沒有人會理我，我的月收入將只能維持一兩個月的生活</span>
                </div>
            </div>
        </li>
    </ul>
</nav>