<div class="nav_contentWrapper--mobile">
    <div class="nav_mobileArea mobileAbout">
        <div class='nav_title'>冠決定開始寫部落格</div>
        <div class='navArea_description'>我要變聰明，要讓別人因為我聰明的腦袋覺得我性感。雖然很羞恥，但不寫就記不起來事情，不說就會悶到生病。</div>
        <div class="navArea_contact">
            <p class='contactItem'>+886 921908739</p>
            <p class='contactItem'>kuan.thisis@gmail.com</p>
            <a class='contactItem' href="https://thisiskuan.co.uk/" target="_blank">
                Portfolio
            </a>
            <a class='contactItem' href="https://www.facebook.com/benben1020" target="_blank">
                Facebook
            </a>
            <a class='contactItem' href="https://www.instagram.com/kuan.thisis/" target="_blank">
                Instagram
            </a>
        </div>
    </div>
    <div class='nav_mobileArea mobileTableContent'>
        <div class='navArea_itemWrapper'>
            {{#each global.titleList.titleList }}
            <div class='nav_item'>
                <span class='nav_contentNumbering'>{{ this.index }}</span>
                <div class='nav_content'>
                    <a data-id="{{ this.id }}">
                        <span class='nav_itemTitle' data-id="{{ this.id }}">{{ this.title }}</span>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>