<div class="indexSelection--mobile">
    {{#each global.titleList.titleList }}
    <div class='indexSelection_item--mobile'>
        <span class='nav_contentNumbering'>{{ this.index }}</span>
        <div class='nav_content'>
            <a data-id="{{ this.id }}">
                <span class='nav_itemTitle' data-id="{{ this.id }}">{{ this.title }}</span>
            </a>
        </div>
    </div>
    {{/each }}
</div>