<div class="selectionItem">
  
    <span class='selectionItem_index'>{{prop.index}}</span>
    <span class='selectionItem_title'>{{prop.title}}</span>
    <span>{{iDef}}</span>
    <div class="selectionItem_line"></div>
</div>