<div class="ani-infiniteScroll_wrapper">
    <ul class='indexSelection_row ani-infiniteScroll_target'>
        {{> selection_item prop=global.titleList.titleList.[0]}}
        {{> selection_item prop=global.titleList.titleList.[1]}}
        {{> selection_item prop=global.titleList.titleList.[2]}}
    </ul>
</div>
<div class="ani-infiniteScroll_wrapper">
    <ul class='indexSelection_row ani-infiniteScroll_target ani-skew'>
        {{> selection_item prop=global.titleList.titleList.[3]}}
        {{> selection_item prop=global.titleList.titleList.[4]}}
        {{> selection_item prop=global.titleList.titleList.[5]}}
    </ul>
</div>
<div class="ani-infiniteScroll_wrapper">
    <ul class='indexSelection_row ani-infiniteScroll_target ani-skew'>
        {{> selection_item prop=global.titleList.titleList.[6]}}
        {{> selection_item prop=global.titleList.titleList.[7]}}
        {{> selection_item prop=global.titleList.titleList.[8]}}
    </ul>
</div>
