<section id='indexSeleciton'>
    <ul class='indexSelection_row ani-infiniteScroll_target'>
        {{> selection_item prop=titleList.[0]}}
        {{> selection_item prop=titleList.[1]}}
        {{> selection_item prop=titleList.[2]}}
    </ul>
    <ul class='indexSelection_row ani-infiniteScroll_target'>
        {{> selection_item prop=titleList.[3]}}
        {{> selection_item prop=titleList.[4]}}
        {{> selection_item prop=titleList.[5]}}
    </ul>
    <ul class='indexSelection_row ani-infiniteScroll_target'>
        {{> selection_item prop=titleList.[6]}}
        {{> selection_item prop=titleList.[7]}}
        {{> selection_item prop=titleList.[8]}}
    </ul>
</section>