@mixin titleAnimation {
    animation: titleShow--slide 0.7s ease-in-out, titleShow--color 0.7s ease-in-out 1.1s;
}

@mixin contentAnimation {
    animation: contentFlyIn 1s ease 1.5s;
}

@mixin titleAnimation--mobile {
    animation: titleShow_mobile 0.5s ease 2.2s forwards; 
}

.ani-article_title {
    @include titleAnimation
}
.ani-article_content {
    @include contentAnimation
}

@keyframes titleShow--slide {
    0% {
        transform: translate(0, 100%);
        color: $black;
    }
    75% {
        color: $black;
    }
    100% {
        transform: translate(0, 0);
        color: $black;
    }
}

@keyframes titleShow--color {
    from {
        color: $black;
    }
    to {
        color: $gray-0;
    }
}

@keyframes titleShow_mobile {
    from {
        transform: translate(100%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes contentFlyIn {
    0% {
        transform: translate(0, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}