// .ani-articleHover--title {
//     color: $black;
//     z-index: 7;
// }  

// .ani-articleHover--content {
//     transition: 0.5s ease-out;
//     transform: translate(-8rem, 0);
//     color: $gray-0;
//     z-index: 1;
// }

@mixin titleAnimation {
    animation: titleShow--slide 0.7s ease-in-out, titleShow--color 0.7s ease-in-out 1.4s;
}

@mixin contentAnimation {
    animation: contentFlyIn 1s ease 1.5s;
}

@keyframes titleShow--slide {
    0% {
        transform: translate(0, 100%);
        color: $black;
    }
    75% {
        color: $black;
    }
    100% {
        transform: translate(0, 0);
        color: $black;
    }
}

@keyframes titleShow--color {
    from {
        color: $black;
    }
    to {
        color: $gray-0;
    }
}

@keyframes contentFlyIn {
    0% {
        transform: translate(0, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}