.ani-infiniteScroll_wrapper {
    width: 100%;
    height: max-content;
    transition: 0.1s ease;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        opacity: 0;
    }
    scrollbar-width: none;
}