<html>
<head>
    {{> pages/partials/meta}}
</head>
<body>
    {{> pages/partials/header }}
    {{> pages/partials/nav }}
    
    <section id='indexSelection'>{{> pages/partials/selection }}</section>
    {{> pages/partials/selection--mobile }}

    <main id="article" style='display: none'>{{> pages/partials/articles }}</main>
    {{> pages/partials/footer }}
</body>
</html>